/*********************colors *********************/

$black: #000;
$darkRed: #820000;
$gray: #b7b7b7;
$lightBlue: #2DA9FF;
$darkRed: #b53d3d
$darkGray: #6d6d6d
$lightGray: #f7f7f7
$gray: #ccc
$lightblue: #3f7aa3
$yellow: #ffcc00
$black: #000000
$white: #ffffff
