/*********************colors *********************/

/*universal*/
$black: #000000
$white: #FFFFFF

/*custom*/
$darkRed: #B53D3D
$brown: #A07439
$yellow: #FFCF11
$gray: #CCCCCC
$darkGray: #212121
$lightGray: #F7F7F7
$lightGray70: rgba(247, 247, 247, 0.7)
