@import "bootstrap"
@import "grid"
@import "colors"
@import "tablet"

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    width: 100%
    margin: 20px auto

main
    width: 100%
    padding: 15px 0
    margin: 50px auto
    max-width: 1180px

nav
    width: 100%
    clear: both
    font-family: 'Song Myung', serif
    margin-top: 50px
    ul
        text-align: left
        float: left
        width: 100%
        background-color: $yellow
        &.closed li
            background-image: url("../images/Hamburger.png")
            background-repeat: no-repeat
            display: none
            background-color: $yellow
            @include size (tablet)
                display: inline-block
                background-image: none
                height: 40px
                width: percentage((1/$parent_menu_items))
            @include size (desktop)
                display: block
                background-image: none
                float: left
                width: 20%
                height: 50px
                line-height: 50px
                text-align: center
                &:nth-last-child(1)
                    border-right: 0
            &#mobile-menu
                display: block
                @include size (tablet)
                    display: none
                @include size (desktop)
                    display: none
        &.open li.mobile-only
            background-image: url("../images/X-Icon.png")
            background-repeat: no-repeat
            @include size (tablet)
                display: none
            @include size (desktop)
                display: none
        li
            list-style-type: none
            width: auto
            line-height: 40px
            text-align: center
            color: $black
            background-color: $yellow
            @include size (tablet)
                float: left
                width: 20%
            a
                text-decoration: none
                text-align: center
                font-size: 18px
                color: $black
                &:nth-child(n+2)
                    display: none
                &:hover
                    text-decoration: none
                    color: $black
            .dropdown
                border: 0
                @include size (tablet)
                    display: none
                @include size (desktop)
                    display: none
                li
                    float: none
                    width: 100%
                    padding: 0 20px
                    color: $black
                    background-color: $yellow
                    border: 0
                    @include size (desktop)
                        display: block
                        border: 0
                    &:hover
                        color: $lightGray
                        background-color: $darkRed
            &:hover
                color: $lightGray
                background-color: $darkRed
                ul.dropdown
                    display: block
                    border: 0
                    @include size (tablet)
                        display: flex
                        left: 0
                        width: 100%
                        position: absolute
                        float: left
                    @include size (desktop)
                        display: block
                        float: left
        .dropdown-toggle::after
            content: none
            @include size (desktop)
                content: ""
            @include size (tablet)
                content: ""

header
    height: 100px
    padding-bottom: 20px
    .logo
        text-align: center
        float: left
        a
            text-decoration: none
            h3
                font-family: 'Yesteryear', cursive
                font-size: 2em
                line-height: 1em
                color: $darkRed
                &:hover
                    color: $lightBlue
                    text-decoration: none
    .today-Date
        display: inline-block
        text-align: center
        p 
            font-size: 1em
            color: $darkGray
            font-family: 'Yesteryear', cursive
        a
            font-size: 2em
            color: $yellow
            font-family: 'Song Myung', serif
            text-decoration: none
            &:hover
                color: $darkRed
    .header-list
        display: inline
        text-align: center
        ul
            li
                display: inline-block
                list-style-type: none
                font-size: 1em
                color: $darkRed
                margin-right: 10px
                margin-top: 25px
                a
                    color: $black
                    text-decoration: none
                    padding: 0px 10px
                    &:hover
                        color: $darkRed
                i.fab, i.fas
                    font-size: 1em
                    color: $darkRed
                    &:hover
                        text-decoration: none

.banner
    background-image: url('../images/food.jpg')
    background-size: cover
    height: 550px
    @include size (tablet)
        margin-top: 80px
    @include size (phone)
        height: auto
    h2
        text-align: center
        a
            font-family: 'Song Myung', serif
            font-size: 1em
            color: $darkGray
            &:hover
                color: $yellow
                text-decoration: none
    #special-header
        background-color: $lightGray60
        display: flex
        float: left
        padding: 2em
        margin: auto
        a 
            font-family: 'Song Myung', serif
            font-size: 1.5em
            color: $darkGray
            @include size(tablet)
                font-size: .95em
            &:hover 
                text-decoration: none
                color: $darkRed

// #special, #detail
//     display: flex
//     float: left
//     padding: 2em
//     margin: auto
//     @include size (phone)
//         display: block
//     a
//         color: $darkRed
//         font-size: .75em
//         font-family: 'News Cycle', sans-serif
//         &:hover
//             text-decoration: none
//             color: $yellow

#main-content
    display: block
    clear: both
    .row
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(16),
        &:nth-child(17),
        &:nth-child(21),
        &:nth-child(22),
        &:nth-child(26),
        &:nth-child(27)
            margin: 10px auto
            padding: 1em 0
            width: 50%
            border-left: 4px solid $lightBlue
            float: right
            height: 400px
            padding: 0
            margin: 0
            @include size(phone)
                width: auto
                float: none  
                background-color: $lightGray
                border: 1px solid $gray
                padding: 10px
                height: auto 
                margin-bottom: 10px
            #item-title a
                font-family: 'Song Myung', serif
                text-align: center
                color: $darkGray
                font-size: 20px
            #item-content
                    font-family: 'News Cycle', sans-serif
            #item-price
                    font-family: 'News Cycle', sans-serif
                    font-style: italic 
                    color: $lightBlue
            img
                width: 50%
                @include size(phone)
                        width: 100%
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(13),
        &:nth-child(14),
        &:nth-child(15),
        &:nth-child(18),
        &:nth-child(19),
        &:nth-child(20),
        &:nth-child(23),
        &:nth-child(24),
        &:nth-child(25),
        &:nth-child(28),
        &:nth-child(29),
        &:nth-child(30)
            width: 30.33%
            background-color: $lightGray
            border: 1px solid $gray
            padding: 10px
            float: left
            height: 400px
            padding: 0
            margin: 0
            @include size(phone)
                width: auto
                float: none  
                background-color: $lightGray
                border: 1px solid $gray
                padding: 10px
                height: auto
                margin-bottom: 10px
            #item-title a
                font-family: 'Song Myung', serif
                text-align: center
                color: $darkGray
                font-size: 20px
            #item-content
                font-family: 'News Cycle', sans-serif
            #item-price
                font-family: 'News Cycle', sans-serif
                font-style: italic 
                color: $lightBlue
            img
                width: 70%
                @include size(phone)
                    width: 100%


@include size (tablet)
    #main-content
        display: block
        clear: both
        .row
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(13),
            &:nth-child(14),
            &:nth-child(17),
            &:nth-child(18),
            &:nth-child(21),
            &:nth-child(22),
            &:nth-child(25),
            &:nth-child(26),
            &:nth-child(29),
            &:nth-child(30)
                margin: 10px auto
                padding: 1em 0
                width: 50%
                border: 0
                border-left: 4px solid $lightBlue
                float: right
                background-color: $white
                #item-title a
                    font-family: 'Song Myung', serif
                    text-align: center
                    color: $darkGray
                    font-size: 20px
                #item-content
                    font-family: 'News Cycle', sans-serif
                #item-price
                    font-family: 'News Cycle', sans-serif
                    font-style: italic 
                img
                    width: 70%
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(11),
            &:nth-child(12),
            &:nth-child(15),
            &:nth-child(16),
            &:nth-child(19),
            &:nth-child(20),
            &:nth-child(23),
            &:nth-child(24),
            &:nth-child(27),
            &:nth-child(28)
                width: 50%
                background-color: $lightGray
                border: 1px solid $gray
                padding: 10px
                height: 400px
                float: left
                #item-title a
                    font-family: 'Song Myung', serif
                    text-align: center
                    color: $darkGray
                    font-size: 20px
                #item-content
                    font-family: 'News Cycle', sans-serif
                #item-price
                    font-family: 'News Cycle', sans-serif
                    font-style: italic 
                img
                    width: 70%
            
        


                    
        

        
#daily, #detail
    float: left
    #today-date
        font-family: 'Yesteryear', cursive
        color: $darkRed
        font-size: 4em
        line-height: 2em
        text-align: left
    #item-image
        img
            max-width: 100%
            height: auto
            border-radius: 8px

    #item-title
        font-family: 'Song Myung', serif
        font-weight: 700
    #item-content
        font-family: 'News Cycle', sans-serif
        color: $darkGray
        font-size: 20px
        font-style: italic
        line-height: 1.5em
        

#about
    clear: both
    h2
        font-family: 'Yesteryear', cursive
        font-size: 2em
        line-height: 2em
        padding-bottom: 15px
        color: $darkRed
        text-align: left
    p
        font-family: 'News Cycle', sans-serif
        font-size: 16px
        line-height: 1.5em
        padding: 10px
        color: $darkGray
        text-align: left
        a
            color: $darkRed
            text-decoration: underline
            &:hover
                color: $darkGray

form
    padding-top: 50px
    font-family: 'News Cycle', sans-serif

.btn-primary
    background-color: $darkRed
    border-color: $darkRed